body {
  padding-top: 10vh;
  background-color: black;
  color: grey;
}

.nav-container {
  margin: auto;
  overflow: auto;
  width: 100%;
  padding: 2vh;
}

.search-container {
  margin: auto;
  /* overflow: auto; */
  /* width: fit-content; */
  /* padding: 2vh; */
}

#search-input {
  min-width: 80vh;
}

.video-player-container {
  min-height: 80vh;
  min-width: 30vh;
  max-width: 95vh;
  float: left;
  clear: left;
  padding: 3vh 3vh;
  font-size: 12px;
}

.video-player-container-text {
  max-width: 90%;
  overflow: scroll;
}

iframe {
  min-width: 90vh;
  min-height: 60vh;
}

.video-list-container {
  min-width: 40vh;
  max-width: 80vh;
  max-height: 90vh;
  clear: right;
  overflow: scroll;
  padding-top: 3vh;
}

.video-list-result-container {
  margin-bottom: .5vh;
  border-width: 3px;
  border-style: solid;
  overflow: scroll;
  font-size: 12px;
  display: inline-block;
}

.video-list-result-text {
  max-width: 70%;
  float: right;
  clear: both;
}

img {
  min-width: 20vh;
  min-height: 15vh;
}
