body {
  padding-top: 10vh;
  background-color: black;
  color: grey;
}

.search-container {
  margin: auto;
  overflow: scroll;
  width: fit-content;
  padding: 2vh;
}

#search-input {
  min-width: 80vh;
}

.video-player-container {
  margin: auto;
  min-height: 80vh;
  min-width: 30vh;
  max-width: 100vh;
  float: left;
  padding: 5vh;
  font-size: 12px;
}

.video-player-container-text {
  max-width: 70%;
  overflow: scroll;
}

iframe {
  min-width: 80vh;
  min-height: 50vh;
}

.video-list-container {
  min-width: 10vh;
  max-width: 40%;
  max-height: 90vh;
  float: right;
  overflow: scroll;
  padding: 3vh 1vh;
}

.video-list-result-container {
  margin-bottom: .5vh;
  border-width: 3px;
  border-style: solid;
  overflow: scroll;
  font-size: 12px;
  display: inline-block;
}

.video-list-result-text {
  max-width: 70%;
  float: right;
}

img {
  min-width: 15vh;
  min-height: 15vh;
}
